<ul class="todos">
  <% @todos.each do |t| %>
    <li class='<%= "completed" if t.completed? %>'>
      <%= t.title %>
      <% if t.completed? %>
        <%= link_to "Incomplete", todo_completion_path(t), method: :delete %>
      <% else %>
        <%= link_to "Complete", todo_completion_path(t), method: :post %>
      <% end %>  
    </li>
  <% end %>
</ul>

<%= link_to "Create a todo", new_todo_path, rel: 'create-todo'%>
